$branco: white;
$preto: black;
$azul: #0071bc;
$azulescuro: #003152;
$azulmenu: #1470b9;
$azulclaro: #79c8fc;
$erro: #d50000;
$cinzaescuro: #263238;
$cinzaclaro: #b3b3b3;
$foco: #8e0038;
$transparencia: rgba(20, 20, 20, 0.75);
